.sale-poster-container {
  display: flex;
  gap: 20px;
  margin-top: 60px;
}

.sale-poster-container img {
  object-fit: cover;
  border-radius: 20px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  gap: 20px;
  grid-row-gap: 0px;
}

.salePosters {
  border-radius: 20px;
  position: relative;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.salePosters img {
  max-width: 100%;
  min-width: 100%;
  opacity: 1;
  transition: all .3s ease;
}

.salePosters:hover img {
  opacity: .6;
}

.salePosters a {
  display: none;
  position: absolute;
  bottom: 20px;
  background-color: var(--main-red-color);
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  padding: 13px 30px;
}

.salePosters:hover a {
  display: flex;
}

.fade-in-out {
  opacity: 0;
  transition: opacity 1s ease;
}

.fade-in-out.fade-in {
  opacity: 1;
}

.fade-in-out.fade-out {
  opacity: 0;
}

.div0 {
  grid-area: 1 / 1 / 3 / 2;
}

.div1 {
  grid-area: 1 / 2 / 2 / 4;
}

.div2 {
  grid-area: 2 / 2 / 3 / 4;
}

.div3 {
  grid-area: 1 / 4 / 3 / 5;
}

.sale-poster-container>div:nth-child(1) {
  min-width: 673px;
  max-width: 673px;
  min-height: 674px;
  max-height: 674px;
}

.sale-poster-container>div:nth-child(3),
.sale-poster-container>div:nth-child(2) {
  min-width: 100%;
  max-width: 100%;
  min-height: 327px;
  max-height: 327px;
}

.sale-poster-container>div:nth-last-child(1) {
  min-width: 387px;
  max-width: 387px;
  min-height: 674px;
  max-height: 674px;
}

.sale-poster-container div img {
  height: 100%;
}

.sale-poster-container div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.poster {
  width: 100%;
  height: auto;
  /* position: absolute;
  top: 0;
  left: 0; */
  opacity: 0;
  transition: opacity 1s ease;
}

.poster.current {
  opacity: 1;
}

/* RESPONSIVENESS STARTED */
@media screen and (max-width: 1700px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 645px;
    max-width: 645px;
    min-height: 630px;
    max-height: 630px;
  }

  .sale-poster-container>img:nth-last-child(1) {
    min-height: 630px;
    max-height: 630px;

  }

  .sale-poster-container>img:nth-child(3),
  .sale-poster-container>img:nth-child(2) {
    min-height: 310px;
    max-height: 310px;
  }
}

@media screen and (max-width: 1650px) {
  .sale-poster-container>img:nth-last-child(1) {
    min-width: 350px;
    max-width: 350px;
  }
}

@media screen and (max-width: 1600px) {

  .sale-poster-container>img:nth-child(1),
  .sale-poster-container>img:nth-last-child(1) {
    min-height: 550px;
    max-height: 550px;
  }

  .sale-poster-container>img:nth-child(3),
  .sale-poster-container>img:nth-child(2) {
    min-height: 270px;
    max-height: 270px;
  }
}

@media screen and (max-width: 1550px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 600px;
    max-width: 600px;
  }

  .sale-poster-container>div:nth-last-child(1),
  .sale-poster-container>div:nth-child(1),
  .sale-poster-container>div:nth-child(3),
  .sale-poster-container>div:nth-child(2) {
    max-width: 100%;
    min-width: 100%;
  }

  .sale-poster-container>div:nth-last-child(1),
  .sale-poster-container>div:nth-child(1) {
    min-height: 500px;
    max-height: 500px;
  }

  .sale-poster-container>div:nth-child(3),
  .sale-poster-container>div:nth-child(2) {
    min-height: 248px;
    max-height: 248px;
  }

  .parent {
    gap: 10px;
  }
}

@media screen and (max-width: 1400px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 575px;
    max-width: 575px;
  }
}

@media screen and (max-width: 1350px) {
  .sale-poster-container>img:nth-last-child(1) {
    min-width: 300px;
    max-width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 500px;
    max-width: 500px;
  }

  .sale-poster-container>img:nth-child(1),
  .sale-poster-container>img:nth-last-child(1) {
    min-width: 500px;
    max-width: 500px;
  }

  .sale-poster-container>img:nth-last-child(1) {
    min-width: 280px;
    max-width: 280px;
  }
}

@media screen and (max-width: 1250px) {
  .sale-poster-container>img:nth-child(1) {
    min-height: 500px;
    max-height: 500px;
  }

  .sale-poster-container>img:nth-child(1),
  .sale-poster-container>img:nth-last-child(1) {
    min-height: 500px;
    max-height: 500px;
  }

  .sale-poster-container>img:nth-child(3),
  .sale-poster-container>img:nth-child(2) {
    min-height: 240px;
    max-height: 240px;
  }
}

@media screen and (max-width: 1150px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 460px;
    max-width: 460px;
  }

  .sale-poster-container>img:nth-last-child(1) {
    min-width: 250px;
    max-width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 420px;
    max-width: 420px;
  }

  .sale-poster-container>img:nth-last-child(1) {
    min-width: 230px;
    max-width: 230px;
  }
}

@media screen and (max-width: 960px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 400px;
    max-width: 400px;
  }

  .sale-poster-container>img:nth-last-child(1) {
    min-width: 210px;
    max-width: 210px;
  }
}

@media screen and (max-width: 900px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 360px;
    max-width: 360px;
  }

  .sale-poster-container>img:nth-child(1) {
    min-height: 400px;
    max-height: 400px;
  }

  .sale-poster-container>img:nth-child(1),
  .sale-poster-container>img:nth-last-child(1) {
    min-height: 400px;
    max-height: 400px;
  }

  .sale-poster-container>img:nth-child(3),
  .sale-poster-container>img:nth-child(2) {
    min-height: 190px;
    max-height: 190px;
  }
}

@media screen and (max-width: 850px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 330px;
    max-width: 330px;
  }
}

@media screen and (max-width: 800px) {
  .sale-poster-container>img:nth-child(1) {
    min-width: 310px;
    max-width: 310px;
  }

  .sale-poster-container>img:nth-last-child(1) {
    min-width: 190px;
    max-width: 190px;
  }
}

@media screen and (max-width: 768px) {

  .salePosterMb {
    padding: 0 20px;
    margin: 25px 0;
  }

  .salePosterMb .slick-dots li {
    height: 10px;
    border-radius: 100%;
    width: 10px;
    background: #EDEDED;
  }

  .slick-prev,
  .slick-next {
    display: none !important;
  }

  .slick-dots {
    width: -webkit-fill-available !important;
  }

  .salePosterMb .slick-dots li.slick-active {
    background: #34A853;
  }

  .salePosterMb img {
    width: 100% !important;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 20px;
    padding: 0 10px;
    height: 80vh;
    max-width: 100% !important;
  }

}

@media screen and (max-width: 500px) {
  .salePosters {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .salePosters a {
    left: calc(50% - 65px);
  }

  .salePosterMb img {
    height: 197px;
  }

  .salePosterMb {
    padding: 0 16px !important;
  }

  .salePosterMb img {
    padding: 0 7px;
    /* margin: 0 7px !important; */
  }

  .salePosterMb {
    margin-top: 29px;
    margin-bottom: 34px;
  }
}