.SingleBlog .blog-title {
    margin-bottom: 45px;
}

.SingleBlog .blog-title h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 17.56px;
    font-weight: 400;
    line-height: 22.12px;
    text-align: left;
    color: #374856;
}

.SingleBlog .blog-title a {
    text-decoration: none;
    color: inherit;
}

.SingleBlog .blog-title h1 span {
    color: var(--main-red-color);
    font-weight: 700;
}

.SingleBlog .blog-image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 16px;
}

.SingleBlog .blog-details img {
    color: #FA8232;
}

.SingleBlog .blog-left .heading h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 39.68px;
    font-weight: 600;
    line-height: 49.6px;
    text-align: left;
    color: #191C1F;
}

.SingleBlog .blog-details {
    display: flex;
    margin-top: 60px;
    align-items: center;
    margin-bottom: 19px;

    gap: 20px;
}

.SingleBlog .blog-details div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.SingleBlog .blog-details div h2 {
    font-family: Outfit;
    font-size: 17.36px;
    font-weight: 400;
    line-height: 24.8px;
    text-align: left;
    color: #475156;
}

.SingleBlog .blog-container {
    display: flex;
    gap: 60px;
}

.SingleBlog .blog-container .blog-right {
    min-width: 495px;
}

.SingleBlog .blog-container .blog-right .search {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    border: 1.24px solid #E4E7E9;
    padding: 30px;
    gap: 30px;
}

.SingleBlog .blog-container .blog-right .search h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 19.84px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: #191C1F;
    text-transform: uppercase;
}

.SingleBlog .blog-container .blog-right .search .input {
    height: 60px;
    width: 100%;
    display: flex;
    border: 1px solid #E4E7E9;
    padding-right: 21px;
    align-items: center;
    justify-content: space-between;
}

.SingleBlog .blog-container .blog-right .search .input input {
    background: transparent;
    border: none;
    width: 80%;
    font-size: 18px;
    line-height: 21px;
    padding-left: 21px;
    height: 100%;
    border: 0;
    outline: none;
    color: #77878F;
}

.SingleBlog .blog-container .blog-right .search .input svg {
    cursor: pointer;
}

.SingleBlog .blog-container .blog-right .search .input svg:hover path {
    stroke: var(--main-red-color);
}

.SingleBlog .blog-container .author {
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.SingleBlog .blog-container .author .author-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.SingleBlog .blog-container .author .author-name img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.SingleBlog .blog-container .author .author-name .author-gravatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--main-red-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.SingleBlog .blog-container .author .author-name h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 19.84px;
    font-weight: 500;
    line-height: 29.76px;
    text-align: left;
    color: #191C1F;
}

.SingleBlog .blog-container .author .author-social {
    display: flex;
    gap: 10px;
}

.SingleBlog .blog-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.SingleBlog .blog-content .paragraph p {
    font-family: "Outfit", sans-serif;
    font-size: 19.84px;
    font-weight: 400;
    line-height: 29.76px;
    text-align: left;
    color: #475156;
}

.SingleBlog .blog-content .quote {
    display: flex;
    gap: 30px;
    padding: 40px;
    align-items: center;
    box-shadow: 4.96px 0px 0px 0px #FA8232 inset;
    background-color: #FFF3EB;
}

.SingleBlog .blog-content .quote p {
    font-family: "Outfit", sans-serif;
    font-size: 24.8px;
    font-weight: 400;
    line-height: 34.72px;
    text-align: left;
    color: #191C1F;
}

.SingleBlog .blog-content .content-images {
    display: flex;
    gap: 30px;
}

.SingleBlog .blog-content .add-comment-section h2 {
    font-family: "Outfit", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40.32px;
    text-align: left;
    color: #292C2F;
    margin-bottom: 15px;
}

.SingleBlog .blog-content .add-comment-section p {
    font-family: "Outfit", sans-serif;
    font-size: 25.29px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    color: #4C4E51;
    margin-bottom: 40px;
}

.SingleBlog .blog-content .add-comment-section .comment-box .name-email {
    display: flex;
    gap: 30px;
}

.SingleBlog .blog-content .add-comment-section .comment-box .name-email input {
    width: 50%;
    border-radius: 15.7px;
    border: 1.26px solid #37485633;
    height: 60px;
    box-shadow: 5.06px 5.06px 50.57px 0px #0000001F;
    padding-left: 25px;
    font-family: 'Outfit', sans-serif;
    font-size: 20.23px;
    font-weight: 400;
    line-height: 25.49px;
    text-align: left;
    color: #374856;
}

.SingleBlog .blog-content .add-comment-section .comment-box textarea {
    margin-top: 22px;
    width: 100%;
    box-shadow: 5.06px 5.06px 50.57px 0px #0000001F;
    padding-left: 25px;
    padding-top: 17px;
    height: 159px;
    font-family: 'Outfit', sans-serif;
    font-size: 20.23px;
    font-weight: 400;
    line-height: 25.49px;
    text-align: left;
    color: #374856;
    border-radius: 15.7px;
    border: 1.26px solid #37485633;
}

.SingleBlog .blog-content .add-comment-section .comment-box button {
    margin-top: 40px;
    padding: 18.28px 42.19px 18.28px 42.19px;
    gap: 14.06px;
    border-radius: 11.25px;
    opacity: 0px;
    background-color: var(--main-red-color);
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 25.29px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    color: #fff;
}

.SingleBlog .blog-content .comment-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.SingleBlog .blog-content .comment-section .heading {
    font-family: 'Outfit', sans-serif;
    font-size: 24.8px;
    font-weight: 500;
    line-height: 34.72px;
    text-align: left;
    color: #191C1F;
}

.SingleBlog .blog-content .comment-section button {
    padding: 18.28px 42.19px 18.28px 42.19px;
    gap: 14.06px;
    border-radius: 11.25px;
    opacity: 0px;
    background-color: var(--main-red-color);
    border: none;
    font-family: 'Outfit', sans-serif;
    font-size: 25.29px;
    font-weight: 400;
    line-height: 31.86px;
    text-align: left;
    color: #fff;
    margin-left: auto;
    float: right;
}

.SingleBlog .blog-content .comment-section .comments-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.SingleBlog .blog-content .comment-section .comments-div .comment {
    display: flex;
    width: 100%;
    flex-direction: column;

}

.SingleBlog .blog-content .comment-section .comments-div .comment .comment-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.SingleBlog .blog-content .comment-section .comment .comment-name {
    display: flex;
    align-items: center;
    gap: 8px;
}

.SingleBlog .blog-content .comment-section .comment .comment-name h2 {
    font-family: "Outfit", sans-serif;
    font-size: 25.24px;
    font-weight: 700;
    line-height: 31.8px;
    text-align: left;
}

.SingleBlog .blog-content .comment-section .comment .comment-name h3 {
    font-family: "Outfit", sans-serif;
    font-size: 20.19px;
    font-weight: 400;
    line-height: 25.44px;
    text-align: left;
    color: #4C4E51;
}

.SingleBlog .blog-content .comment-section .comment .comment-review {
    display: flex;
    gap: 15px;
    align-items: center;
}

.SingleBlog .blog-content .comment-section .comment .comment-review .review {
    display: flex;
    gap: 5px;
    align-items: center;
}

.SingleBlog .blog-content .comment-section .comment .comment-review h3 {
    font-family: "Outfit", sans-serif;
    font-size: 20.19px;
    font-weight: 400;
    line-height: 25.44px;
    text-align: left;
    color: #4C4E51;
}


.SingleBlog .blog-content .comment-section .comments-div .comment-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 58px;
}

.SingleBlog .blog-content .comment-section .comments-div .comment-bottom .images {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.SingleBlog .blog-content .comment-section .comments-div .comment-bottom .images img {
    width: 128px;
    height: 128px;
    gap: 0px;
    border-radius: 16.38px;
    opacity: 0px;

}

.SingleBlog .blog-content .comment-section .comments-div .comment-bottom .paragraph p {
    font-family: "Outfit", sans-serif;
    font-size: 22.72px;
    font-weight: 400;
    line-height: 28.62px;
    text-align: left;
    color: #4C4E51;
}

.SingleBlog .blog-right .shop-category {
    width: 100%;
    padding: 30px;
}

.SingleBlog .blog-right .shop-category .shop-category-inner {
    width: 100%;
    border-bottom: 1.34px solid #E4E7E9;
}

.SingleBlog .blog-right .shop-category .shop-category-inner p {
    font-family: "Outfit", sans-serif;
    font-size: 21.51px;
    font-weight: 500;
    line-height: 32.26px;
    text-align: left;
    color: #191C1F;
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container a {
    text-decoration: none;
    color: black;
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container a label {
    cursor: pointer;
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container a label:hover {
    color: var(--main-red-color);
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container div input:checked+label {
    color: var(--main-red-color);
    font-weight: 700;
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container input {
    accent-color: var(--main-red-color);
}

.SingleBlog .blog-right .shop-category .shop-category-inner .shop-category-container div {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-public-sans);
    font-size: 18.82px;
    font-weight: 400;
    line-height: 24.83px;
    color: #4c4e51;
}

.SingleBlog .blog-right .latest-blogs {
    width: 100%;
    padding: 30px;
    padding-top: 0px;
}

.SingleBlog .blog-right .latest-blogs .latest-blogs-contain h2 {
    font-family: "Public Sans", sans-serif;
    font-size: 21.51px;
    font-weight: 500;
    line-height: 32.26px;
    text-align: left;

}

/* .SingleBlog .blog-right .latest-blogs .latest-blogs-contain {
    padding: 25px;
    border: 1.08px solid #E4E7E9;
} */

.SingleBlog .blog-right .latest-blogs .latest-blogs-contain .latest-blogs-container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.SingleBlog .blog-right .latest-blogs .latest-blogs-contain .latest-blogs-container .latest-blog {
    display: flex;
    align-items: center;
    gap: 17px;
}

.SingleBlog .blog-right .latest-blogs .latest-blogs-contain .latest-blogs-container .latest-blog img {
    width: 85px;
    height: 85px;
    gap: 0px;
    border-radius: 4px;
    opacity: 0px;
}

.SingleBlog .blog-right .latest-blogs .latest-blogs-contain .latest-blogs-container .latest-blog h3 {
    font-family: "Outfit", sans-serif;
    font-size: 17.32px;
    font-weight: 500;
    line-height: 21.65px;
    text-align: left;
    color: #191C1F;
    margin-bottom: 8px;
}


.SingleBlog .blog-right .latest-blogs .latest-blogs-contain .latest-blogs-container .latest-blog p {
    font-family: "Outfit", sans-serif;
    font-size: 17.32px;
    font-weight: 400;
    line-height: 21.65px;
    text-align: left;
    color: #77878F;
}

.SingleBlog .blog-right .popular-tags {
    width: 100%;
    padding: 30px;
    padding-top: 0px;
}

.SingleBlog .blog-right .popular-tags p {
    font-family: "Public Sans", sans-serif;
    font-size: 21.51px;
    font-weight: 500;
    line-height: 32.26px;
    text-align: left;
    color: #191C1F;
    margin-bottom: 20px;
}

.SingleBlog .blog-right .popular-tags .popular-tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 10px;
    column-gap: 10px;
}

.SingleBlog .blog-right .popular-tags .popular-tags-container div input {
    display: none;
}

.SingleBlog .blog-right .popular-tags .popular-tags-container a {
    display: flex;
    text-decoration: none;
    color: black;
}

.SingleBlog .blog-right .popular-tags .popular-tags-container a label {
    font-family: var(--font-public-sans);
    font-size: 17.38px;
    font-weight: 500;
    line-height: 24.83px;
    color: #191c1f;
    border: 1.24px solid #e4e7e9;
    padding: 7px 14px;
    border-radius: 2.5px;
}

.SingleBlog .blog-right .popular-tags .popular-tags-container div input:checked+label {
    background-color: #fff3eb;
    border: 1.24px solid var(--main-red-color);
    color: var(--main-red-color);
}

/* ---------------------------------------------------------------------------------------------- */
/*                                     RESPONSIVENESS STARTED                                     */
/* ---------------------------------------------------------------------------------------------- */
@media screen and (max-width: 1800px) {
    .wrapper.SingleBlog {
        width: 100% !important;
        padding: 0px 50px !important;
    }

    .SingleBlog .blog-container .blog-right {
        min-width: 300px;
        width: 495px;
    }

    .SingleBlog .blog-container .blog-left {
        min-width: 50%;
    }

    .SingleBlog .blog-content .content-images {
        width: 100%;
    }

    .SingleBlog .blog-content .content-images img {
        width: 50%;
    }
}

@media screen and (max-width: 1500px) {
    .wrapper.SingleBlog {
        width: 100% !important;
        padding: 0px 50px !important
    }
}

@media screen and (max-width: 1100px) {
    .SingleBlog .blog-container .author {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .SingleBlog .blog-content .quote {
        padding-left: 20px;
    }
}

@media screen and (max-width: 1024px) {

    .wrapper.SingleBlog {
        padding: 0px 20px !important;
    }

    /* .SingleBlog .blog-container .blog-right {
        display: none;
    } */

    .SingleBlog .blog-content .content-images img {
        width: 48% !important;
    }
}

@media screen and (max-width: 900px) {
    .SingleBlog .blog-container {
        flex-wrap: wrap;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-name {
        flex-wrap: wrap;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-name h3 {
        margin-left: 55px;
        width: 100%;
    }

    .SingleBlog .blog-image img {
        height: auto;
        max-height: 700px;
    }

    .SingleBlog .blog-content .comment-section .comments-div .comment-bottom .images {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 450px) {
    .SingleBlog .blog-details {
        margin-top: 26px;
    }

    .SingleBlog .blog-details div h2 {
        font-size: 11px;
    }

    .SingleBlog .blog-details img {
        width: 19px;
        height: 19pxs;
    }

    .SingleBlog .blog-left .heading h1 {
        font-size: 16px;
        line-height: 19px;
        font-weight: 500;
    }

    .SingleBlog .blog-container .author {
        margin-top: 19px;
    }

    .SingleBlog .blog-container .author .author-name img {
        width: 32px;
        height: 32px;
    }

    .SingleBlog .blog-container .author .author-name h2 {
        font-size: 16px;
    }

    .SingleBlog .blog-container .author .author-social img {
        width: 27px;
        height: 27px;
    }

    .SingleBlog .blog-content .paragraph p {
        font-size: 14px;
        line-height: 26px;
        color: #77878F;
    }

    .SingleBlog .blog-content .quote {
        flex-direction: column;
        box-shadow: none;
        padding: 49px 28px;
    }

    .SingleBlog .blog-content .quote p {
        font-size: 18px;
        line-height: 39px;
        text-align: center;
    }

    .SingleBlog .blog-content .content-images {
        flex-direction: column;
    }

    .SingleBlog .blog-content .content-images img {
        width: 100% !important;
        height: auto;
        max-height: 500px;
    }

    .wrapper.SingleBlog {
        padding: 0 16px;
    }

    .SingleBlog .blog-content .add-comment-section h2 {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 9px;
    }

    .SingleBlog .blog-content .add-comment-section p {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
    }

    .SingleBlog .blog-content .add-comment-section .comment-box .name-email {
        flex-direction: column;
    }

    .SingleBlog .blog-content .add-comment-section .comment-box .name-email {
        gap: 10px;
    }

    .SingleBlog .blog-content .add-comment-section .comment-box textarea,
    .SingleBlog .blog-content .add-comment-section .comment-box .name-email input {
        width: 100%;
        border-radius: 16px;
        font-size: 16px;
        padding-left: 25px;
    }

    .SingleBlog .blog-content .add-comment-section .comment-box textarea {
        margin-top: 10px;
    }

    .SingleBlog .blog-content .comment-section button,
    .SingleBlog .blog-content .add-comment-section .comment-box button {
        font-size: 18px;
        padding: 15px 0;
        width: 100%;
        text-align: center;
        margin-top: 18px;
        line-height: 22px;
    }

    .SingleBlog .blog-content .comment-section button {
        padding: 15px 45px;
        width: max-content;
        margin: auto;
    }

    .SingleBlog .blog-content .comment-section .comment .comment- img {
        width: 50px;
        height: 50px;
    }

    .SingleBlog .blog-content .comment-section .comments-div .comment-bottom {
        padding-left: 0;
    }

    .SingleBlog .blog-title {
        margin-bottom: 36px;
    }

    .wrapper.SingleBlog {
        margin-top: 27px !important;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-name {
        flex-wrap: nowrap;
        width: 100%;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-name h3 {
        font-size: 16px;
        margin-left: 0;
        width: max-content;
    }

    .SingleBlog .blog-content .comment-section .comments-div .comment .comment-top {
        flex-direction: column;
        align-items: flex-start;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-review .review svg {
        width: 11px;
        height: 11px;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-review {
        margin-left: 55px;
        margin-top: -10px;
    }

    .SingleBlog .blog-content .comment-section .comments-div .comment-bottom .images {
        gap: 16px;
    }

    .SingleBlog .blog-content .comment-section .comments-div .comment-bottom .paragraph p {
        font-size: 16px;
        line-height: 26px;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-review h3 {
        display: none;
    }

    .SingleBlog .blog-content .comment-section .comment .comment-name h2 {
        font-size: 16px;
        font-weight: 400;
    }
}