.service-category-container {
  height: 508px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 34px;
  background-color: rgba(55, 72, 86, 0.02);
  margin-top: 60px;
}

.service-category-container-inner {
  display: flex;
  gap: 34px;
}

.service-category-item-single {
  width: 283px;
  height: 283px;
  background-color: #ffffff05;
  border-radius: 18.39px;
  padding: 31px 36px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 3.678518772125244px 45.981483459472656px 0px #00000029;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease;
  align-items: center;
}

.service-category-item-single:hover {
  background: #fff;
  scale: 1.13;
}

.service-category-item-single:hover .service-category-item-single-img-box {
  background: var(--main-green-color);
}

.service-category-item-single:hover .service-category-item-single-view {
  color: var(--main-green-color);
}

/* .service-category-item-single:hover .service-category-item-single-view,
.service-category-item-single:hover .service-category-item-single-desc,
.service-category-item-single:hover .service-category-item-single-name {
  color: white;
} */
/* .service-category-item-single:hover .service-category-item-single-view svg {
  background: var(--main-red-color);
} */
.service-category-item-single:hover .service-category-item-single-view svg path {
  fill: var(--main-green-color);
}

.service-category-item-single-img-box {
  width: 91px;
  height: 91px;
  border-radius: 100%;
  background-color: var(--main-red-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-category-item-single-img-box img {
  max-width: 49px;
}

.service-category-item-single-name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 22px;
  color: #374856;
}

.service-category-item-single-desc {
  margin: 4px 0 17px 0;
  color: #374856;
  opacity: 60%;
  font-size: 14.71px;
  font-weight: 400;
}

.service-category-item-single-view {
  font-weight: 400;
  font-size: 14.71px;
  color: var(--main-red-color);
  text-decoration: underline;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1750px) {
  .service-category-container {
    height: 475px;
  }

  .service-category-container-inner {
    display: flex;
    gap: 20px;
  }

  .service-category-item-single {
    width: 255px;
    height: auto;
  }

  .service-category-item-single-img-box {
    width: 91px;
    height: 91px;
  }
}

@media screen and (max-width: 1500px) {
  .service-category-container {
    height: auto;
    padding: 50px 0px;
  }
}

@media screen and (max-width: 1450px) {
  .service-category-item-single {
    padding: 20px 20px;
    width: 220px;
  }

  .service-category-item-single-img-box {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 1250px) {
  .service-category-container-inner {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 50px;
  }

  .service-category-container {
    gap: 20px
  }

}

@media screen and (max-width: 850px) {
  .service-category-container-inner {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .feature-products-container-heading-row {
    margin-bottom: 20px;
  }

  .service-category-container-inner {
    padding: 0px 20px;
  }

  .service-category-item-single {
    position: relative;
    width: 48%;
    padding: 20px 20px 20px 95px;
  }

  .service-category-item-single-img-box img {
    max-width: 32px;
  }

  .service-category-item-single {
    align-items: flex-start;
  }

  .service-category-item-single-img-box {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 15px;
  }

  .service-category-item-single-name {
    margin-top: 0px;
    font-weight: 500;
  }

  .service-category-item-single-desc {
    margin: 4px 0 5px 0;
    text-align: left;
  }

  .service-category-item-single:hover {
    background: #fff;
    scale: 1.03;
  }

  .service-category-container {
    margin-top: 20px;
  }
}

@media screen and (max-width: 580px) {
  .service-category-item-single {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .service-category-container {
    padding-bottom: 60px;
  }

  .service-category-container-inner {
    padding: 0px 15px;
  }

  .service-category-container {
    margin-top: 10px;
    gap: 0;
  }

  .service-category-item-single-name {
    font-size: 20px;
  }

  .service-category-item-single-desc {
    font-size: 14px;
  }
}